
     @font-face {
          font-family: 'kalinga';
          font-style:'normal';
          font-weight:100;
          src:local('kalinga'), local('kalinga'), url('kalinga.ttf') format('truetype');
      }
  h2,h3{
      font-family : 'kalinga', sans-serif;
      font-size:22px;
      font-weight:'bold'
  }
  p {
      font-family : 'kalinga', sans-serif;
      font-size:16px;
  }

li {
    font-family : 'kalinga', sans-serif;
    font-size:16px;
}


.stackedit {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
     user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}


#permalink_section {

width:100%;
height:100%;
white-space: pre-wrap;
white-space: -moz-pre-wrap;
white-space: -pre-wrap;
white-space: -o-pre-wrap;
word-wrap: break-word;

}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
    img{
        width : 100% !important;
        height : 100% !important;
    }
    
    .stackedit__html{
        width: 72% !important;
        padding-left : 10px; !important;
        padding-right: 10px; !important;
        margin-left:0px;!important;
        margin-right:0px;!important;
    }
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
    img{
        width : 100% !important;
        height : 100% !important;
    }
    
/*    .stackedit {*/
/*        width : 115% !important;*/
/*        height : 100% !important;*/
/*    }*/

    .stackedit__html{
        width: 85% !important;
        padding-left : 10px; !important;
        padding-right: 5px; !important;
        margin-left: 0px;!important;
        margin-right: 0px;!important;
    }
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait */
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait) {
    img{
        width : 100% !important;
        height : 100% !important;
    }
    
    .stackedit__html{
        padding-left: 25px !important;
        margin-left: 5px !important;
/*        padding-right : px !important;*/

    }
}

/* ----------- iPhone X ----------- */

/* Portrait */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 812px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait) {
    img{
        width : 100% !important;
        height : 100% !important;
    }
    .stackedit__html{
        padding-left : 10px; !important;
        padding-right: 10px; !important;
    }
}

